{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue !</h1>

    <h3>Je suis Romain Ducreux,</h3>

    Vous êtes sur mon Eportfolio, <br>
    Je suis un élève de première année à l'IUT de Roanne j'étudie le cursus du BUT : Réseaux et Télécommunications. <br>
    J'aime bien tout ce qui touche à l'informatique que ce soit l'aspect physique ou matériel (administrer des réseaux, construire un circuit électrique, coder des algorithmes ou des sites...) <br>
    Le codage me passionne j'adore résoudre des problèmes de codes ou même créer un code pour répondre a certaines attentes, et par dessous tout j'aime créer des algorithmes.
    <ul>
        <section class="grid-sections">

            <a href="{{ path('mon_cv') }}" class="section-card">
                <h2>Mon CV</h2>
            </a>

            <a href="{{ path('mes_competences') }}" class="section-card">
                <h2>Mes compétences</h2>
            </a>

            <a href="{{ path('mes_hobbies') }}" class="section-card">
                <h2>Mes hobbies</h2>
            </a>

            <a href="{{ path('me_contacter') }}" class="section-card">
                <h2>Me contacter</h2>
            </a>

        </section>
        <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux-009021399/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>

    </ul>
</div>
{% endblock %}
